
.menu .active > a{
  background: none;
}

.bodySection{
  min-height: 400px;
}

.dropdown-toggle {
  &:after{
    transition: 0.7s;
  }
}
/*for animation*/
.dropdown-toggle:hover:after {
  transform: rotate(180deg);
  transition: 0.7s;
}
.dropdown-menu{
  background-color: #173250;
  color: white;
  border: none;
  &:hover{
    .dropdown-toggle:after {
      transform: rotate(180deg);
    }
  }
  a{
      text-align: center;
  }
}

#lifecycleplanning {
  background: #3d6693;
  .LifeStages{
    padding: 0;
  }
}

#theme legend.c-label {
  color: black !important;  
}


.navbar{
  @media  (min-width: 992px){
    padding-top: 0 !important;
    padding-bottom: 0 !important;

  }
}

#mc_embed_signup .button {
  clear: both;
  background-color: #aaa;
  border: 0 none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
}

.dropdown-item.active {
  background-color: unset;
  border-bottom: 2px solid #b68c32;
}
.menu-item > .dropdown-toggle.active{
  border-bottom: 2px solid #b68c32;
}
.nav-link.active {
  border-bottom: 2px solid #b68c32;
}
.current-page-parent {
  :after{
    color: #b68c32;
    border-top: .5em solid;
    border-right: .5em solid transparent;
    height: 7px;
    border-left: .5em solid transparent;
    position: absolute;
    right: 2px;
    top: 17px;
    
  }
  //border-bottom: 2px solid #b68c32;
}
//MOBILE MENU SETTINGS (*************************)

@media (max-width: 991px) {
  .navbar-collapse {
    a{

      text-align: left;
    }
    background-color: #173250;
    position: absolute;
    top: 50px;
    min-width: 300px;
    .dropdown-toggle:after {
      display: none;
    }
  }
}
.navbar{
  padding: 1.8rem 1rem;
}
.navbar-toggler {
  border: none;
  background: transparent !important;
  z-index: 10001;
  position: absolute;
  top: 10px;

  &:focus {
    border: none;
    outline: none;
  }

  .icon-bar {
    width: 25px;
    transition: all 0.2s;
    background-color: white;
    height: 3px;
    display: block;
    margin: 5px;
  }

  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }

  &[aria-expanded="false"] {
    .top-bar {
      transform: rotate(0);
    }

    .middle-bar {
      opacity: 1;
    }

    .bottom-bar {
      transform: rotate(0);
    }
  }

  &[aria-expanded="true"] {
    .top-bar {
      width: 29px;
      //background-color: white;
    }

    .bottom-bar {
      width: 29px;
      //background-color: white;
    }
  }
}




//remove default bootstrap animation
.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}
