/*
colors:

blue:
#173250

gold:
#b68c32

grey:
#efefef
#d6d6d6

background color: 
#ffffff

fonts:
Playfair Display

logo:
don't know

site:
Lora

*/

body {
	background-color: #ffffff;
	/*background-image: url(../images/pageLayout/mainbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;*/
	/*background-attachment: fixed;*/
	font-family: 'Lora', serif;
	max-width: 100% !important;
	overflow-x: hidden !important;
	/*color:#555555;*/
}

@media screen and (max-width: 39.9375em) {
	body {
		background-size: auto !important;
	}
}

/*@media only screen and (max-width: 40.063em) {
body {
	background-position:center top;
    background-size: auto;
}
}*/

/*@media only screen and (max-width: 64.063em) {
body {
	background-image: url(../images/pageLayout/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
	background-size: auto;
}
}*/
/* change paragraph size site wide */
/*p {
	font-size: 1.099rem;
	margin: 0px;
}*/
/* change width of rows 1200 wide would be 1200 / 16 = 75rem*/
.row {
	max-width: 75rem;
}

.row.expanded {
	max-width: 90rem;
}

/* for video background */
video#bgvid {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background-color: #ffffff;
	/*filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);*/
	/*background: url(../images/pageLayout/bgmain.jpg) no-repeat top center;*/
	/* replace **image link** with your own file*/
	/*background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
	position: absolute;
	/*bottom:-35%;*/
	top: -8rem;
	z-index: -900;
}

@media screen and (max-width: 39.9375em) {
	video#bgvid {
		display: none;
	}
}

@media screen and (min-width: 40em) and (max-width: 67.9375em) {
	video#bgvid {
		display: none;
	}
}

/*@media screen and (min-width: 64em) and (max-width: 93.9375em) {
video#bgvid {
	top:-2rem;
}
}*/

/*to target webkit browsers Chrome, Opera, Safari*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
	video#bgvid {
		z-index: -1;
	}
}

/* for blog styles */

.feedburnerFeedBlock ul,
.feedburnerFeedBlock li {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}

div #creditfooter {
	display: none;
}

.feedburnerFeedBlock .headline a,
.feedburnerFeedBlock .headline a:visited,
.feedburnerFeedBlock .headline a:hover,
.feedburnerFeedBlock .headline a:focus {
	text-decoration: none;
	pointer-events: none;
	cursor: default !important;
	color: #2e3d19 !important;
	font-size: 1.3em;
}

/* newsletterForm*/

div#mc_embed_signup {
	/*float: left;*/
	padding: 5px;
	margin: 20px 0px 20px 0px;
	width: 100%;
	background-color: #ffffff;
	border-radius: 3px;
	font-size: 14px !important;
}

.asterisk {
	color: #334142 !important;
}

div#mc_embed_signup .button {
	background-color: #577c9c;
	color: #ffffff !important;
	opacity: 0.8;
}

div#mc_embed_signup .button:hover {
	background-color: #334142;
	opacity: 1;
}

div#mc_embed_signup input {
	color: #000;
	width: 200px;
	padding: 6px;
	border-radius: 3px;
	font-size: 14px;
}

table.formBox tr th {
	/* width: 160px;*/
	padding: 0;
	/* text-align: left;*/
	vertical-align: middle;
	font-size: 14px;
	color: #ffffff !important;
}





/* contact form */

.antispam {
	display: none;
	visibility: hidden;
}

#hiddenNews {
	display: none;
	visibility: hidden;
}

.contactForm img {
	width: 100%;
	max-height: 80px;
	/*border: 2px solid #ffffff;*/
	margin: 0px 0px 15px 0px;
	/*border-radius: 1rem;*/
}

input:-moz-placeholder {
	/* Firefox 18- */
	color: #444444;
	opacity: 1;
}

input::-moz-placeholder {
	/* Firefox 19+ */
	color: #444444;
	opacity: 1;
}

textarea::-moz-placeholder {
	/* Firefox 19+ */
	color: #444444;
	opacity: 1;
}

::-webkit-input-placeholder {
	color: #444444 !important;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #444444 !important;
	opacity: 1;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
	/*border-radius: .5rem;*/
	background-color: #ffffff;
	border: 1px solid #999999;
	/*border: none;*/
	/*box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);*/
	box-shadow: none;
	/*color: rgba(0, 0, 0, 1.0);*/
	font-family: 'Lato', sans-serif;
	font-size: 0.899rem;
	font-weight: 700;
	color: #444444;
	opacity: 1 !important;
	/*border-radius: 1rem;*/
	padding: .5rem 2rem .5rem .5rem;
	background-image: url();
}

.contactForm textarea {
	height: 4.9rem;
	padding: .5rem 2rem .5rem .5rem;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
	/*box-shadow: 0 0 5px #000000;*/
	box-shadow: none;
	/*border-radius: 1rem;*/
	border: 2px solid #999999;
	/*border: none;*/
	color: #444444;
	background-color: #ffffff;
	/*background-color: transparent;*/
	background-image: url();
}

.contactForm .callout,
.contactForm .panel {
	margin: 2rem 0 0 0;
	padding: 1rem;
	border: 1px solid #999999 !important;
	/*border: none;*/
	border-radius: 0;
	background-color: #ffffff !important;
}







.topMargin8 {
	margin-top: 8px;
}

.topMargin10 {
	margin-top: 10px;
}

.topMargin15 {
	margin-top: 15px;
}

.topMargin20 {
	margin-top: 20px;
}

.topMargin30 {
	margin-top: 30px;
}

.topMargin-30 {
	margin-top: -30px;
}

.topMargin40 {
	margin-top: 40px;
}

.topMargin60 {
	margin-top: 60px;
}

.topMargin115 {
	margin-top: 115px;
}

.topMargin150 {
	margin-top: 150px;
}

.bottomMargin10 {
	margin-bottom: 10px;
}

.bottomMargin15 {
	margin-bottom: 15px;
}

.bottomMargin20 {
	margin-bottom: 20px;
}

.bottomMargin25 {
	margin-bottom: 25px;
}

.bottomMargin30 {
	margin-bottom: 30px;
}

.bottomMargin40 {
	margin-bottom: 40px;
}

.bottomMargin60 {
	margin-bottom: 60px;
}

.topbottomMargin150 {
	margin: 150px 0px;
}

.morePadding1 {
	padding: 3rem;
}

@media only screen and (max-width: 64.063em) {
	.morePadding1 {
		padding: 1rem;
	}
}

@media only screen and (max-width: 40.063em) {
	.morePadding1 {
		padding: 2rem;
	}
}

/* shade for medium down  */

.shade {
	background: rgba(0, 0, 0, 0.2);
}

/* header section */

.header {
	padding: 0 0 1rem 0;
	width: 100%;
	position: relative;
	z-index: 99;
	transition: all 0.99s ease-in-out;
	-webkit-transition: all 0.99s ease-in-out;
	@media (max-width: 767px) {

		div[itemprop="address"]{
			background-color: rgba(23, 50, 80, 0.8);
		}
	}
}


.sticky img {
	transition: all 0.99s ease-in-out;
	-webkit-transition: all 0.99s ease-in-out;
	width: 100%;
	margin-top: .5rem;
	/*padding: 0 0 1rem 0;*/
}

.sticky span img {
	margin-top: -1rem;
	opacity: 1;
	visibility: visible;
	height: 50px;
	/*margin-bottom:3rem;*/
}

.sticky.is-stuck span img {
	opacity: 0;
	visibility: hidden;
	/*width:0%;*/
	width: 100%;
	height: 0px;
	/*margin-bottom:0;*/
}

@media only screen and (max-width: 40.063em) {
	.sticky img {
		margin-top: 1.5rem;
		width: 100%;
	}
}

.sticky.is-stuck img {
	width: 40%;
	margin-top: 1.5rem;
}

@media only screen and (max-width: 64.063em) {
	.sticky.is-stuck img {
		width: 35%;
	}
}

.sticky.is-stuck .header {

	background-color: rgba(23, 50, 80, 0.95);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

.sticky .header p {
	font-size: 1.299rem;
	transition: all 0.99s ease-in-out;
	-webkit-transition: all 0.99s ease-in-out;
}

@media only screen and (max-width: 64.063em) {
	.sticky .header p {
		font-size: inherit;
	}
}

.sticky.is-stuck .header p {
	font-size: inherit;
}

.header p {
	color: #ffffff;
	margin: 0;
}

.header p strong {
	color: #ffffff;
}

.header .headingH1 {
	color: #ffffff;
	font-family: 'Lora', serif;
	/*background-color: rgba(23,50,80,0.8);*/
	/*padding: 0 1.5rem;*/
	/*width: 50%;*/
	margin: 0;
}

.header .headingH2 {
	color: #ffffff;
	font-family: 'Lora', serif;
	margin: 0;
}

.header .headingH3 {
	color: #ffffff;
	font-family: 'Lora', serif;
	margin: 0;
	/*font-weight: 700;*/
	/*font-size: 1.299rem !important;*/
	/*text-transform: uppercase;*/
	/*margin:20px 0px;*/
}

.header .headingH4 {
	color: #b9d536;
	font-family: 'Lora', serif;
	margin: 0;
	/*font-weight: 700;*/
	/*font-size: 1.299rem !important;*/
	/*text-transform: uppercase;*/
	/*margin:20px 0px;*/
}

.header .headingH5 {
	color: #b9d536;
	font-family: 'Lora', serif;
	margin: .5 0 0 0;
	/*font-weight: 600;*/
	/*text-transform: uppercase;*/
	/*font-size: 0.930rem !important;*/
	/*margin:0px 0px 3px 0px;*/
}

.header .headingH5 span {
	color: #b9d536;
	font-size: 0.930rem;
}

.header a:link {
	text-decoration: none;
	color: #ffffff;
}

.header a:visited {
	text-decoration: none;
	color: #ffffff;
}

.header a:hover {
	text-decoration: underline;
	color: #ffffff;
}

.header .dropdown-pane {
	background-color: #ffffff;
	border: none;
	border-radius: 0;
}

.header i {
	color: #b9d536;
	font-size: 1.5rem !important;
	transition: all 0.25s ease-in-out;
}

.header a:hover i {
	color: #b9d536 !important;
}

/* to move text part of logo up and behind shape part */

.logoUp {
	background-color: #ffffff;
	width: 100%;
	/*margin-top: -.390rem;*/
	padding: 0 0 1rem 0;
	/*position: absolute;
	z-index:  1;*/
}

/* for full width collapsable row add this class to the row */

.fullWidth {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

/* for horizontal stripe of background color */

.bgHorizontal {
	background-color: rgba(0, 0, 0, 0.3);
	/*background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, transparent 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, transparent));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, transparent 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, transparent 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, transparent 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, transparent 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );*/
}

/* for vertical stripe of background color */

.bgVertical {
	/*background-color: rgba(255, 255, 255, 0.6);*/
	background: rgba(255, 255, 255, 1);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, .2) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, .5)), color-stop(100%, rgba(255, 255, 255, .2)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, .2) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, .2) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, .2) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, .5) 0%, rgba(255, 255, 255, .2) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
	height: 100%;
	/*min-height: 28rem;*/
}

/*@media only screen and (max-width: 40.063em) {
.bgVertical {
	background-color: #07477c;
}
}*/

.bgVertical2 {
	background-color: rgba(255, 255, 255, 0.6);
	height: 100%;
	min-height: 450px;
}

/* header2 section */

.header2 {
	/*background-color: #173250;*/
	/*background-image: url(../images/pageLayout/headerbg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 60%;
	background-size: cover;*/
	/*color: #ffffff;*/
	/*min-height: 25rem;*/
	/*max-height:670px;*/
	/*font-family: 'Lora', serif;*/
	padding: 15rem 0 8rem 0;
	width: 100%;
	/*border-top: solid #203f5c 20px;*/
	/*border-bottom: solid 1px #a7bf9d;*/
	/*padding: 1rem 0 4rem 0;*/
	/*text-align:center;*/
	/*margin-top:60px;*/
	position: relative;
	z-index: 1;
	/*max-width: 100%;*/
	/*overflow-x: hidden;*/
	/*-webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);*/
}

@media only screen and (max-width: 40.063em) {
	.header2 {
		padding: 2rem 0;
	}
}

/*@media only screen and (max-width: 64.063em) {
.header2 {
	background-image: url(../images/pageLayout/mainbg4.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 8rem 0;
}
}*/
/*.header2 a:link {
	text-decoration: none;
	color: #ffffff !important;
}
.header2 a:visited {
	text-decoration: none;
	color: #ffffff !important;
}
.header2 a:hover {
	text-decoration: underline;
	color: #ffffff;
}*/

.header2 hr {
	max-width: 50%;
	border-bottom: 1px solid #6d6e6e;
	/*margin: -2rem auto 3rem auto;*/
}

.header2 i {
	color: #525564;
	/*border: 2px solid #2776b6;
	border-radius: 50%;
	padding: 40px;*/
}

.header2 a:hover i {
	color: #525564 !important;
}

.header2 p {
	color: #ffffff;
	/*margin:2rem 0;*/
	/*font-size: 0.929rem;*/
	/*font-family: 'Lora', serif;*/
	/*text-align:justify;*/
	/*font-weight: 400;*/
}

.header2 .headingH1 {
	color: #ffffff;
	font-family: 'Lora', serif;
	background-color: rgba(23, 50, 80, 0.8);
	padding: 1rem 0;
	width: 100%;
	font-weight: 400;
	font-size: 3.599rem !important;
	/*text-transform: uppercase;*/
	line-height: 4rem;
	margin: 3rem 0;
	/*margin-bottom:20px;*/
	/*line-height:3.5rem;*/
	/*position:absolute;
	top:30%;
	left:0;
	right:0;*/
	/*text-shadow: 0 0 15px rgba(0,0,0,0.8);*/
}

@media only screen and (max-width: 40.063em) {
	.header2 .headingH1 {
		margin: 1rem 0 3rem 0;
		font-size: 2.599rem !important;
	}
}

/*@media only screen and (max-width: 63.063em) {
.header2 .headingH1 {
	margin: 3rem 0;
}
}*/
.header2 .headingH2 {
	color: #b9d536;
	/*margin: 4.5rem 0 0 0;*/
	/*font-size: 2.399rem !important;*/
	/*text-transform:uppercase;*/
	font-family: 'Lora', serif;
	/*text-align:justify;*/
	font-weight: 500;
	line-height: 2.5rem;
	/*text-shadow: 0 0 15px rgba(0,0,0,0.8);*/
}

.header2 .headingH3 {
	color: #ffffff;
	/*margin-bottom:1rem;*/
	font-weight: 300;
	font-family: 'Lora', serif;
	/*text-align:justify;*/
}

.header2 .headingH5 {
	color: #ffffff;
	/*margin:2rem 0;*/
	/*font-size: 0.929rem;*/
	/*font-family: 'Lora', serif;*/
	/*text-align:justify;*/
	/*font-weight: 400;*/
}

/*.header2 img {
	margin: 0 auto;
}*/

.header2-inside {
	min-height: .2rem;
}

/* for headings*/

.headingH1 {
	/*font-weight: 500;*/
	font-size: 2.125rem !important;
	/*font-family: 'Lora', serif;*/
	/*margin: 0px;*/
}

.headingH2 {
	/*font-weight: 500;*/
	font-size: 1.6875rem !important;
	/*font-family: 'Lora', serif;*/
	/*margin: 0px;*/
	line-height: 30px;
}

.headingH3 {
	/*font-weight: 500;*/
	font-size: 1.375rem !important;
	/*font-family: 'Lora', serif;*/
	/*margin: 0px;*/
}

.headingH4 {
	/*font-weight: 500;*/
	font-size: 1.125rem !important;
	/*font-family: 'Lora', serif;*/
	/*margin: 0px;*/
}

.headingH5 {
	/*font-weight: 500;*/
	font-size: 1.125rem !important;
	/*font-family: 'Lora', serif;*/
	/*margin: 0px;*/
}

.headingH6 {
	/*font-weight: 500;*/
	font-size: 1rem !important;
	/*font-family: 'Lora', serif;*/
	/*margin: 0px;*/
}

/* horizontal nav, Top bar, topbar */

.horizontal-nav {
	background-color: #173250;
	/*background-image: url(../images/pageLayout/mainbg4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;*/
	/*border-bottom: solid 1px #a7bf9d;*/
	/*-webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);*/
	/*padding: 0 0 2rem 0;*/
	/*margin: .5rem 0 0 0;*/
	/*color:#ffffff;*/
	/*height:55px;*/
	/*to move nav links down if using a logo inside the nav, remember logo can't be a link*/
	/*bottom:0;*/
	/*border-bottom: 3px solid #ffffff;*/
	position: relative;
	z-index: 99;
	/*line-height: 1rem;*/
}

.horizontal-nav a:link,
.horizontal-nav a:visited {
	color: #ffffff;
	border-right: transparent;
	border-left: transparent;
	/*transition: border-color 0.25s ease-in-out;*/
	font-weight: 600;
}

.horizontal-nav a:hover {
	text-decoration: none;
	color: #ffffff !important;
	/*border-right: 2px solid #b8d295;
	margin-right: -2px;
	border-left: 2px solid #b8d295;
	margin-left:-2px;*/
	background-color: #b68c32;
}

.horizontal-nav ul li {
	font-size: 0.999rem;
	font-weight: 500;
	font-family: 'Lora', serif;
	padding: 0 1.059rem;
	/*text-transform:uppercase;*/
}

@media only screen and (max-width: 63.063em) {
	.horizontal-nav ul li {
		/*font-size: 0.899rem;*/
		padding: 0;
	}
}

.horizontal-nav ul li ul li {
	font-size: 0.999rem;
	font-family: 'Lora', serif;
	padding: 0;
}

.horizontal-nav ul li ul li a:hover {
	text-decoration: none;
	color: #ffffff !important;
	background-color: #b68c32;
}

.top-bar {
	padding: 0;
}

.top-bar,
.top-bar ul {
	background-color: transparent;
}

@media only screen and (max-width: 40.063em) {

	.top-bar,
	.top-bar ul {
		background-color: #b68c32;
	}
}

.top-bar li>a,
.top-bar ul li>a {
	color: #ffffff;
	/*padding:0.7rem 3.7rem !important;*/
}

.dropdown.menu .submenu {
	background-color: #173250;
	border: none;
}

.dropdown.menu .submenu a:link,
.dropdown.menu .submenu a:visited {
	color: #ffffff;
}

.dropdown.menu .submenu a:hover,
.dropdown.menu .submenu a:hover {
	color: #173250;
}

.menu-icon::after {
	background: #ffffff;
	box-shadow: 0 7px 0 #ffffff, 0 14px 0 #ffffff;
}

.menu-icon:hover::after {
	background: #ffffff;
	box-shadow: 0 7px 0 #ffffff, 0 14px 0 #ffffff;
}

.title-bar {
	background: transparent;
	color: #ffffff;
	padding: 0.5rem;
}

.title-bar-title {
	font-weight: bold;
	vertical-align: middle;
	display: inline-block;
	font-size: 1.399rem;
	/*font-family: 'Lora', serif;*/
}

.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a::after {
	display: none;
}

.js-drilldown-back>a::before {
	/*display: none;*/
	border-color: transparent #173250 transparent transparent
}

.is-drilldown-submenu-parent>a::after {
	display: none;
}

/* body section*/

.bodySection {
	background: #ffffff;
	/*background-image: url(../images/pageLayout/mainbg5.jpg);*/
	/*background-repeat: repeat-x, repeat-x;
	background-position: top, bottom;*/
	/*background-size: contain;*/
	/*font-family: 'Lora', serif;*/
	/*color: #4a4a4a;*/
	padding: 4rem 0;
	/*text-align:center;*/
	/*min-height:500px;*/
	position: relative;
	z-index: 0;
}

.bodySection-LifeStages {
	background: #3d6693;
	// background-image: url(../images/pageLayout/mainbg5.jpg);
	/*background-repeat: repeat-x, repeat-x;
	background-position: top, bottom;*/
	/*background-size: contain;*/
	/*font-family: 'Lora', serif;*/
	/*color: #4a4a4a;*/
	padding: 4rem 0;
	/*text-align:center;*/
	/*min-height:500px;*/
	position: relative;
	z-index: 0;
}


/* to force the heading sizes to stay the same on small screens */
@media screen and (min-width: 40em) {

	.bodySection h1,
	.bodySection h2,
	.bodySection h3,
	.bodySection h4,
	.bodySection h5,
	.bodySection h6 {
		font-size: inherit;
	}
}

/* this needs to be same style as p styles below for bulleted text in body area to be same as regular text */
.bodySection ul li {
	color: #333333;
	font-family: 'Lora', serif;
}

.bodySection p {
	/*margin: 0px 0px 10px 0px;*/
	color: #333333;
	font-family: 'Lora', serif;
}

.bodySection i {
	color: #e5d432;
	/*font-size:200px;*/
}

.bodySection h1 {
	color: #173250;
	font-family: 'Lora', serif;
	/*text-transform:uppercase;*/
	font-weight: 400;
	font-size: 2.599rem !important;
	margin: 0px;
	/*text-align:center;*/
}

.bodySection h2 {
	color: #173250;
	font-family: 'Lora', serif;
	font-weight: 400;
	font-size: 1.899rem !important;
	margin: 0px;
	/*text-align:center;*/
}

.bodySection h3,
.bodySection h4,
.bodySection h5,
.bodySection h6 {
	color: #173250;
	font-family: 'Lora', serif;
	font-weight: 400;
	font-size: 1.299rem !important;
	margin: 0px;
	/*text-align:center;*/
}

.bodySection h7 {
	color: #173250;
	font-family: 'Lora', serif;
	font-weight: 400;
	font-size: 1.1rem !important;
	margin: 0px;
	/*text-align:center;*/
}


.bodySection a,
.bodySection a:visited {
	color: #173250;
	text-decoration: underline;
}

.bodySection a:hover,
.bodySection a:focus {
	color: #173250;
	text-decoration: underline;
}

/* font icon background for testimonial sections */

.wrap {
	/*width: 80%;*/
	/*margin: 1em auto;
  padding: 1em 5%;
  background: #fff;*/
	position: relative;
}

.wrap2 {
	/*width: 80%;*/
	/*margin: 1em auto;
  padding: 1em 5%;
  background: #fff;*/
	position: relative;
}

.inner {
	position: relative;
	z-index: 2;
}

.wrap:after {
	/*content: "\f087";*/
	content: "\f10d";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	font-size: 20rem;
	color: rgba(255, 255, 255, 1.0);
	top: 10%;
	left: 10%;
	margin: -7.5rem 0 0 -.5rem;
	z-index: 0;
}

.wrap2:after {
	/*content: "\f087";*/
	content: "\f10e";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	font-size: 12rem;
	color: rgba(255, 255, 255, 0.8);
	top: 10%;
	right: 10%;
	margin: -4.5rem -.5rem 0 0;
	z-index: 0;
}

/* Life Stages section*/
.LifeStages {
	/*background-color: rgba(214,214,214,0.95); */
	/*background-color: #d6d6d6;*/
	position: relative;
	z-index: 2;
	padding: 4rem 0 0 0;
}

.LifeStages .headingH1 {
	color: #d6d6d6;
	font-size: 3.099rem !important;
	font-weight: 700;
	font-family: 'Lora', serif;
	margin-bottom: 0;
}



#circleslider {
	position: relative;
	overflow: hidden;
}

#circleslider .viewport {
	height: 20.8rem;
	position: relative;
	overflow: hidden;
	width: 20.8rem;
	margin: 11.6rem auto;
	border-radius: 50%;
}

#circleslider .overview {
	background-color: none;
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	text-align: center;
}

#circleslider .overview li {
	height: 20.8rem;
	width: 20.8rem;
	margin: 0;
	float: left;
	position: relative;
}

#circleslider .overview .headingH2 {
	color: #d6d6d6;
	/*font-size:1.799rem !important;*/
	margin-top: 0;
	margin-bottom: 10%;
	line-height: 2rem;
	font-weight: 600;
	/*text-shadow: 1px 1px 1px rgba(56, 59, 61, 0.3)*/
}

#circleslider .overview .headingH3 {
	color: #ffffff;
	/*font-size:1.799rem !important;*/
	margin-top: 25%;
	margin-bottom: 0;
	line-height: 2rem;
	font-weight: 400;
	/*text-shadow: 1px 1px 1px rgba(56, 59, 61, 0.3)*/
}

#overview1 {
	background: url(../images/pageLayout/slidePic1.jpg) no-repeat;
	border-radius: 50%;
}

#overview2 {
	background: url(../images/pageLayout/slidePic2.jpg) no-repeat;
	border-radius: 50%;
}

#overview3 {
	background: url(../images/pageLayout/slidePic3.jpg) no-repeat;
	border-radius: 50%;
}

#overview4 {
	background: url(../images/pageLayout/slidePic4.jpg) no-repeat;
	border-radius: 50%;
}

#overview5 {
	background: url(../images/pageLayout/slidePic5.jpg) no-repeat;
	border-radius: 50%;
}

#overview6 {
	background: url(../images/pageLayout/slidePic7.jpg) no-repeat;
	border-radius: 50%;
}

#overview7 {
	background: url(../images/pageLayout/slidePic6.jpg) no-repeat;
	border-radius: 50%;
}

#overview8 {
	background: url(../images/pageLayout/slidePic9.jpg) no-repeat;
	border-radius: 50%;
}

#overview9 {
	background: url(../images/pageLayout/slidePic10.jpg) no-repeat;
	border-radius: 50%;
}

#circleslider .thumb {
	background: rgba(255, 255, 255, 0);
	border: 3px solid #b68c32;
	position: absolute;
	top: 7.8rem;
	cursor: pointer;
	left: 0;
	margin: 0px;
	width: 6.9rem;
	z-index: 101;
	height: 6.875rem;
	border-radius: 50%;
}

#circleslider .dot {
	cursor: pointer;
	text-indent: -999em;
	overflow: hidden;
	height: 6.25rem;
	width: 6.25rem;
	position: absolute;
	z-index: 100;
	border-radius: 50%;
}

#circleslider .dot-1 {
	background: url(../images/pageLayout/slidePic1_thumb.jpg) no-repeat 0 0;
}

#circleslider .dot-2 {
	background: url(../images/pageLayout/slidePic2_thumb.jpg) no-repeat 0 0;
}

#circleslider .dot-3 {
	background: url(../images/pageLayout/slidePic3_thumb.jpg) no-repeat 0 0;
}

#circleslider .dot-4 {
	background: url(../images/pageLayout/slidePic4_thumb.jpg) no-repeat 0 0;
}

#circleslider .dot-5 {
	background: url(../images/pageLayout/slidePic5_thumb.jpg) no-repeat 0 0;
}

#circleslider .dot-6 {
	background: url(../images/pageLayout/slidePic7_thumb.jpg) no-repeat 0 0;
}

#circleslider .dot-7 {
	background: url(../images/pageLayout/slidePic6_thumb.jpg) no-repeat 0 0;
}

#circleslider .dot-8 {
	background: url(../images/pageLayout/slidePic9_thumb.jpg) no-repeat 0 0;
}

#circleslider .dot-9 {
	background: url(../images/pageLayout/slidePic10_thumb.jpg) no-repeat 0 0;
}

#circleslider .dot span {
	cursor: pointer;
}

@media screen and (max-width: 67.9375em)

/* small and medium */
	{
	.LifeStages {
		padding: 2rem 0;
	}

	#circleslider .viewport {
		height: 9rem;
		width: 9rem;
		margin: 6.5rem auto;
	}

	#circleslider .overview li {
		height: 9rem;
		width: 9rem;
		z-index: 9999;
	}

	#circleslider .overview .headingH2 {
		font-size: 1.199rem !important;
		margin-bottom: 0.75rem;
		line-height: 1.5rem;
		font-weight: 600;
		margin-top: 15%;
	}

	#circleslider .overview .headingH3 {
		display: none;
	}

	#circleslider .overview .button {
		font-size: 0.799rem;
		padding: .5rem;
	}

	#overview1 {
		background: url(../images/pageLayout/slidePic1_sm.jpg) no-repeat;
	}

	#overview2 {
		background: url(../images/pageLayout/slidePic2_sm.jpg) no-repeat;
	}

	#overview3 {
		background: url(../images/pageLayout/slidePic3_sm.jpg) no-repeat;
	}

	#overview4 {
		background: url(../images/pageLayout/slidePic4_sm.jpg) no-repeat;
	}

	#overview5 {
		background: url(../images/pageLayout/slidePic5_sm.jpg) no-repeat;
	}

	#overview6 {
		background: url(../images/pageLayout/slidePic7_sm.jpg) no-repeat;
	}

	#overview7 {
		background: url(../images/pageLayout/slidePic6_sm.jpg) no-repeat;
	}

	#overview8 {
		background: url(../images/pageLayout/slidePic9_sm.jpg) no-repeat;
	}

	#overview9 {
		background: url(../images/pageLayout/slidePic10_sm.jpg) no-repeat;
	}


	#circleslider .dot {
		height: 4.25rem;
		width: 4.25rem;
		z-index: 0;
	}

	#circleslider .thumb {
		height: 4.7rem;
		width: 4.7rem;
		z-index: 0;
	}

	#circleslider .dot-1 {
		background: url(../images/pageLayout/slidePic1_sm_thumb.jpg) no-repeat 0 0;
	}

	#circleslider .dot-2 {
		background: url(../images/pageLayout/slidePic2_sm_thumb.jpg) no-repeat 0 0;
	}

	#circleslider .dot-3 {
		background: url(../images/pageLayout/slidePic3_sm_thumb.jpg) no-repeat 0 0;
	}

	#circleslider .dot-4 {
		background: url(../images/pageLayout/slidePic4_sm_thumb.jpg) no-repeat 0 0;
	}

	#circleslider .dot-5 {
		background: url(../images/pageLayout/slidePic5_sm_thumb.jpg) no-repeat 0 0;
	}

	#circleslider .dot-6 {
		background: url(../images/pageLayout/slidePic7_sm_thumb.jpg) no-repeat 0 0;
	}

	#circleslider .dot-7 {
		background: url(../images/pageLayout/slidePic6_sm_thumb.jpg) no-repeat 0 0;
	}

	#circleslider .dot-8 {
		background: url(../images/pageLayout/slidePic9_sm_thumb.jpg) no-repeat 0 0;
	}

	#circleslider .dot-9 {
		background: url(../images/pageLayout/slidePic10_sm_thumb.jpg) no-repeat 0 0;
	}
}

/* midSection section */

.midSection3 {
	background-color: #173250;
	/*background-image: url(../images/pageLayout/mainbg4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;*/
	/*color: #2776b6;*/
	padding: 4rem 0;
	/*margin: 0;*/
	/*text-align:center;*/
	/*min-height:220px;*/
	/*border-top: 1px solid rgba(255, 255, 255, 0.6);*/
	/*-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);*/
	position: relative;
	/*position: static;*/
	z-index: 0;
}

/*@media only screen and (max-width: 64.063em) {
.midSection3 {
	background-color: #6a6b6b;
}
}*/
/*for video backgrounds to fix background photo glitchs*/
/*@media only screen and (max-width: 64.063em) {
.midSection3 {
	background-attachment: scroll;
}
}*/

/*@media screen and (-webkit-min-device-pixel-ratio:0) {
.midSection3 {
	background-attachment: scroll;
}
}*/

.midSection3 .dropdown-pane {
	background-color: #b68c32;
	border: 1px solid #173250;
	border-radius: 0;
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

.midSection3 p {
	color: #173250;
	font-family: 'Lora', serif;
	/*text-align:justify;*/
	/*font-weight: 400;*/
}

.midSection3 .headingH1 {
	color: #b68c32;
	font-size: 3.099rem !important;
	/*margin-bottom: 4rem;*/
	/*font-weight:600;*/
	text-transform: uppercase;
	font-family: 'Lora', serif;
	line-height: 3rem;
}

.midSection3 .headingH2 {
	color: #ffffff;
	font-family: 'Lora', serif;
	/*font-size: 1.49rem !important;*/
	/*margin-top:2rem;*/
	/*text-align: center;*/
	margin: 0 0 2rem 0;
	font-weight: 500;
	transition: all ease-in-out .5s;
}

/*.midSection3 a:hover .headingH2 {
	color: #b9d536;
}*/
.midSection3 .headingH3 {
	color: #173250;
	font-family: 'Lora', serif;
	/*text-transform: uppercase !important;*/
	/*font-size: 1.79rem !important;*/
	text-align: center;
	font-weight: 600;
}

.midSection3 .headingH4 {
	color: #b9d536;
	font-family: 'Lora', serif;
	/*font-size: 1.69rem !important;*/
	text-align: center;
	font-weight: 600;
}

.midSection3 .headingH5 {
	color: #ffffff;
	font-family: 'Lora', serif;
	text-transform: uppercase;
	/*font-size: 1.69rem !important;*/
	/*text-align:justify;*/
	/*font-weight: 400;*/
}

.midSection3 i {
	color: #173250;
	/*border: 2px solid #2776b6;
	border-radius: 50%;
	padding: 40px;*/
	margin-bottom: 2.5rem;
	font-size: 3rem;
	/*transition:all ease-in-out .5s;*/
}

.midSection3 a:hover i {
	color: #173250;
	/*transform: rotatex(360deg);*/
}

.midSection3 a:hover span i {
	color: #2776b6 !important;
}

.midSection3 a:link,
.midSection3 a:visited {
	text-decoration: none;
	color: #173250;
}

.midSection3 a:hover {
	text-decoration: underline;
	color: #173250;
}

.midSection3 img {
	border: 2px solid #ffffff;
}

.midSection4 {
	/*background-color: #efefef;*/
	/*background-image: url(../images/pageLayout/mainbg4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;*/
	/*color: #2776b6;*/
	padding: 4rem 0;
	/*margin: 0;*/
	/*text-align:center;*/
	/*min-height:220px;*/
	/*border-top: 1px solid rgba(255, 255, 255, 0.6);*/
	/*-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);*/
	position: relative;
	/*position: static;*/
	z-index: 0;
}

/*@media only screen and (max-width: 64.063em) {
.midSection4 {
	background-color: #6a6b6b;
}
}*/
/*for video backgrounds to fix background photo glitchs*/
/*@media only screen and (max-width: 64.063em) {
.midSection4 {
	background-attachment: scroll;
}
}*/

/*@media screen and (-webkit-min-device-pixel-ratio:0) {
.midSection4 {
	background-attachment: scroll;
}
}*/

.midSection4 .dropdown-pane {
	background-color: #b68c32;
	border: 1px solid #173250;
	border-radius: 0;
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

.midSection4 p {
	color: #ffffff;
	font-family: 'Lora', serif;
	/*text-align:justify;*/
	font-weight: 700;
	margin: 0;
}

.midSection4 .headingH1 {
	color: #d6d6d6;
	font-size: 3.099rem !important;
	margin-bottom: 2rem;
	/*font-weight:600;*/
	text-transform: uppercase;
	font-family: 'Lora', serif;
	line-height: 3rem;
}

.midSection4 .headingH2 {
	color: #d6d6d6;
	font-family: 'Lora', serif;
	/*font-size: 1.49rem !important;*/
	/*margin-top:2rem;*/
	/*text-align: center;*/
	margin: 0 0 2rem 0;
	font-weight: 500;
	transition: all ease-in-out .5s;
}

/*.midSection4 a:hover .headingH2 {
	color: #b9d536;
}*/
.midSection4 .headingH3 {
	color: #ffffff;
	font-family: 'Lora', serif;
	/*text-transform: uppercase !important;*/
	/*font-size: 1.79rem !important;*/
	margin-bottom: 2rem;
	text-align: center;
	font-weight: 600;
}

.midSection4 .headingH4 {
	color: #d6d6d6;
	font-family: 'Lora', serif;
	font-size: 1.69rem !important;
	text-align: center;
	font-weight: 600;
}

.midSection4 .headingH5 {
	color: #ffffff;
	font-family: 'Lora', serif;
	text-transform: uppercase;
	/*font-size: 1.69rem !important;*/
	/*text-align:justify;*/
	/*font-weight: 400;*/
}

.midSection4 i {
	color: #173250;
	/*border: 2px solid #2776b6;
	border-radius: 50%;
	padding: 40px;*/
	margin-bottom: 2.5rem;
	font-size: 3rem;
	/*transition:all ease-in-out .5s;*/
}

.midSection4 a:hover i {
	color: #173250;
	/*transform: rotatex(360deg);*/
}

.midSection4 a:hover span i {
	color: #2776b6 !important;
}

.midSection4 a:link,
.midSection4 a:visited {
	text-decoration: none;
	color: #d6d6d6;
}

.midSection4 a:hover {
	text-decoration: underline;
	color: #d6d6d6;
}

/*.midSection4 img {
	border: 2px solid #ffffff;
}*/

.midSection6 {
	/*background-color: #ffffff;*/
	/*background-color: rgba(214,214,214,0.95); */
	/*background-image: url(../images/pageLayout/mainbg4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;*/
	/*color: #2776b6;*/
	padding: 4rem 0 3rem 0;
	/*margin: 0;*/
	/*text-align:center;*/
	/*min-height:220px;*/
	/*border-top: 1px solid rgba(255, 255, 255, 0.6);*/
	/*-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);*/
	position: relative;
	/*position: static;*/
	z-index: 999;
}

@media only screen and (max-width: 64.063em) {
	.midSection6 {
		background-color: #173250;
	}
}

/*@media only screen and (max-width: 64.063em) {
.midSection6 {
	background-color: #6a6b6b;
}
}*/
/*for video backgrounds to fix background photo glitchs*/
/*@media only screen and (max-width: 64.063em) {
.midSection6 {
	background-attachment: scroll;
}
}*/

/*@media screen and (-webkit-min-device-pixel-ratio:0) {
.midSection6 {
	background-attachment: scroll;
}
}*/

.midSection6 .dropdown-pane {
	background-color: #173250;
	border: 1px solid #173250;
	border-radius: 0;
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

.midSection6 p {
	color: #ffffff;
	font-family: 'Lora', serif;
	/*text-align:justify;*/
	/*font-weight: 400;*/
}

.midSection6 .headingH1 {
	color: #ffffff;
	font-size: 3.099rem !important;
	margin-bottom: 4rem;
	/*font-weight:600;*/
	text-transform: uppercase;
	font-family: 'Lora', serif;
	line-height: 3rem;
}

.midSection6 .headingH2 {
	color: #ffffff;
	font-family: 'Lora', serif;
	/*font-size: 1.49rem !important;*/
	/*margin-top:2rem;*/
	/*text-align: center;*/
	margin: 0 0 2rem 0;
	font-weight: 500;
	transition: all ease-in-out .5s;
}

/*.midSection6 a:hover .headingH2 {
	color: #b9d536;
}*/
.midSection6 .headingH3 {
	color: #ffffff;
	font-family: 'Lora', serif;
	/*text-transform: uppercase !important;*/
	/*font-size: 1.79rem !important;*/
	text-align: center;
	font-weight: 600;
}

.midSection6 .headingH4 {
	color: #ffffff;
	font-family: 'Lora', serif;
	/*font-size: 1.69rem !important;*/
	text-align: center;
	font-weight: 600;
}

.midSection6 .headingH5 {
	color: #ffffff;
	font-family: 'Lora', serif;
	text-transform: uppercase;
	/*font-size: 1.69rem !important;*/
	/*text-align:justify;*/
	/*font-weight: 400;*/
}

.midSection6 i {
	color: #d6d6d6;
	/*border: 2px solid #2776b6;
	border-radius: 50%;
	padding: 40px;*/
	margin-bottom: 2.5rem;
	font-size: 3rem;
	/*transition:all ease-in-out .5s;*/
}

.midSection6 a:hover i {
	color: #d6d6d6;
	/*transform: rotatex(360deg);*/
}

/*@media only screen and (max-width: 40.063em) {
.midSection6 i {
	color: #b68c32;
}
.midSection6 a:hover i {
	color: #b68c32;
}
}*/

/*.midSection6 a:link, .midSection6 a:visited {
	text-decoration: none;
	color: #b9d536;
}
.midSection6 a:hover {
	text-decoration: underline;
	color: #b9d536;
}*/
/*.midSection6 img {
	border: 2px solid #ffffff;
}*/

/* SEOandCopyright section */

.SEOandCopyright {
	/*background: #1c4066;*/
	/*background: rgba(83, 110, 43, 0.9);*/
	/*background-image: url(../images/pageLayout/bgSection1.jpg);
	background-repeat: repeat-y;
    background-size: cover;
    background-position: center;*/
	padding: 1rem 0;
	/*color: #2776b6;*/
	position: relative;
	z-index: 0;
}

.SEOandCopyright p {
	font-size: 0.7rem !important;
	font-family: 'Lora', serif;
	color: #ffffff !important;
}

.Copyright-Rowlands {
	/*background: #1c4066;*/
	/*background: rgba(83, 110, 43, 0.9);*/
	/*background-image: url(../images/pageLayout/bgSection1.jpg);
	background-repeat: repeat-y;
    background-size: cover;
    background-position: center;*/
	padding: 1rem 0;
	/*color: #2776b6;*/
	position: relative;
	z-index: 0;
}

.Copyright-Rowlands p {
	font-size: 0.7rem !important;
	font-family: 'Lora', serif;
	color: #333333 !important;
}

/* footer section */

.footerSection {
	background-color: #173250;
	/*background-color: rgba(214,214,214,0.95); */
	/*background-image: url(../images/pageLayout/mainbg3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;*/
	/*font-family: 'Lora', serif;*/
	/*color: #2776b6;*/
	padding: 1rem 0;
	/*border-top: solid 2px #021323;*/
	/*margin: 0;*/
	/*text-align:center;*/
	/*min-height:220px;*/
	/*border-top: 1px solid rgba(255, 255, 255, 0.6);*/
	/*-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);*/
	position: relative;
	/*position: static;*/
	z-index: 1;
}

/*for video backgrounds to fix background photo glitchs*/
/*@media only screen and (max-width: 64.063em) {
.footerSection {
	background-attachment: scroll;
}
}*/

/*@media screen and (-webkit-min-device-pixel-ratio:0) {
.footerSection {
	background-attachment: scroll;
}
}*/

.footerSection .dropdown-pane {
	background-color: #33999b;
	border: 1px solid #33999b;
	border-radius: 0;
}

.footerSection  {
	& p, & #menu-items > li > a {
	font-size: 0.799rem;
	font-weight: 700;
	font-family: 'Lora', serif;
	padding: 0 !important;
	line-height: 1.2rem;
	margin: 1rem 0;
}
}



/*@media only screen and (max-width: 63.063em) {
.footerSection p {
	font-size: 0.799rem;
}
}
@media only screen and (max-width: 40.063em) {
.footerSection p {
	font-size: 1.199rem;
}
}*/
.footerSection a:link,
.footerSection a:visited {
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
}

.footerSection a:hover {
	text-decoration: underline;
	color: #ffffff;
}

.footerSection .headingH1 {
	color: #ffffff;
	font-family: 'Lora', serif;
	font-weight: 300;
	/*font-size: 3.099rem !important;*/
	/*line-height: 3rem;*/
	margin: 1rem 0;
}

.footerSection .headingH2 {
	color: #ffffff;
	font-weight: 400;
	margin: 0 0 2rem 0;
	font-family: 'Lora', serif;
}

.footerSection .headingH3 {
	color: #ffffff;
	font-family: 'Lora', serif;
	font-weight: 400;
	margin: 0;
}

.footerSection .headingH4 {
	color: #ffffff;
	font-family: 'Lora', serif;
	font-weight: 400;
	margin: 0;
}

.footerSection .headingH5 {
	color: #ffffff;
	font-family: 'Lora', serif;
	font-weight: 700;
	margin: 0;
}

.footerSection i {
	color: #173250;
	font-size: 1.299rem;
}

/* to center bullets in bulleted lists */

.footerSection ul {
	display: inline-block;
}

.footerSection ul li {
	padding: 0 0.999rem;
}

@media only screen and (max-width: 63.063em) {
	.footerSection ul li {
		padding: 0 0.499rem;
	}
}

/*.footerSection ul li p {
	font-size: 0.790rem !important;
	font-weight: 600;
}*/
/*li {
    list-style-position: inside !important;
}*/

/* variation to callouts (panels) */

.callout {
	/*margin: 3rem 0;
	padding: 1rem;*/
	/*border: 1px solid rgba(255,255,255, 0.8);*/
	border: none;
	border-radius: 0;
	background-color: #173250;
}

.callout2 {
	/*margin: 0 0 1rem 0;*/
	padding: 1rem;
	/*border: 1px solid #ffffff;*/
	/*border: none;*/
	/*border-radius: 0;*/
	background-color: rgba(0, 0, 0, 0.1);
}

.callout3 {
	/*margin: 3rem 0;
	padding: 1rem;*/
	/*border: 1px solid rgba(255,255,255, 0.8);*/
	border: none;
	border-radius: 0;
	background-color: #ffffff;
}

/* scroll to top button */
.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	/* image replacement properties */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: rgba(0, 0, 0, 0.8) url(../images/pageLayout/cd-top-arrow.svg) no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
	z-index: 999;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	-moz-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
	/* the button becomes visible */
	visibility: visible;
	opacity: 1;
}

.cd-top.cd-fade-out {
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	opacity: .5;
}

.no-touch .cd-top:hover {
	background-color: #000000;
	opacity: 1;
}

@media only screen and (min-width: 768px) {
	.cd-top {
		right: 20px;
		bottom: 20px;
	}
}

@media only screen and (min-width: 1024px) {
	.cd-top {
		height: 60px;
		width: 60px;
		right: 30px;
		bottom: 30px;
	}



	/*Special Needs tabs*/
	.tabs {
		background: transparent;
		border: none;
	}

	.tabs li>a {
		background: #dedede;
		font-family: 'Lora', serif;
		font-size: 1rem;
	}

	.tabs-content,
	.accordion-content {
		background: #efefef;
		padding: 0 1rem;
	}

	.accordion-title {
		background: #dedede;
		border: 0.1rem solid #fff;
		font-family: 'Lora', serif;
		font-size: 1rem;
	}

	/* button overides*/

	.button {
		display: inline-block;
		text-align: center;
		line-height: 1;
		cursor: pointer;
		-webkit-appearance: none;
		transition: all 0.25s ease-out;
		vertical-align: middle;
		border: none;
		/*text-transform:uppercase;*/
		border-radius: 20px;
		/*border: solid 1px #b9d536;*/
		padding: .7rem 1rem;
		margin: 0;
		font-family: 'Lora', serif;
		font-weight: 600;
		font-size: 1.059rem;
		/*background: transparent;*/
		background-color: #b68c32;
		color: #ffffff !important;
		/*text-shadow: 0 0 15px rgba(0,0,0,0.8);*/
	}

	[data-whatinput='mouse'] .button {
		outline: 0;
	}

	.button:hover,
	.button:focus {
		/*background: transparent;*/
		background-color: #173250;
		color: #ffffff !important;
		text-decoration: none !important;
		/*border-color: #7fa7d2;*/
	}

	.button2 {
		display: inline-block;
		text-align: center;
		line-height: 1;
		cursor: pointer;
		-webkit-appearance: none;
		transition: all 0.25s ease-out;
		vertical-align: middle;
		border: none;
		/*text-transform:uppercase;*/
		border-radius: 30px;
		/*border: solid 1px #b9d536;*/
		padding: .75rem .7rem;
		margin: 0;
		font-weight: 400;
		font-size: 1.199rem;
		/*background: transparent;*/
		background-color: #b9d536;
		color: #ffffff !important;
		/*text-shadow: 0 0 15px rgba(0,0,0,0.8);*/
	}

	[data-whatinput='mouse'] .button2 {
		outline: 0;
	}

	.button2:hover,
	.button2:focus {
		background-color: #173250;
		color: #ffffff !important;
	}

	.button2.expanded {
		display: block;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.button3 {
		display: inline-block;
		text-align: center;
		line-height: 1;
		cursor: pointer;
		-webkit-appearance: none;
		transition: all 0.25s ease-out;
		vertical-align: middle;
		border: none;
		border-radius: 0;
		padding: .64rem .7rem;
		margin: 0;
		font-weight: 300;
		font-size: 1.899rem;
		background-color: #7aa03f;
		color: #ffffff;
	}

	[data-whatinput='mouse'] .button3 {
		outline: 0;
	}

	.button3:hover,
	.button3:focus {
		background-color: #536e2b;
		color: #ffffff;
	
	}

	.button3.expanded {
		display: block;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}


	/* for links */

	.link1 a:link {
		text-decoration: none !important;
	
	}

	.link1 a:visited {
		text-decoration: none !important;

	}

	.link1 a:hover {
		text-decoration: underline;
		color: #ffffff !important;
	}

	.link2 a:link {
		text-decoration: none !important;
		color: #173250 !important;
	}

	.link2 a:visited {
		text-decoration: none !important;
		color: #173250 !important;
	}

	.link2 a:hover {
		text-decoration: underline;
		color: #173250 !important;
	}

	.link3 a:link {
		display: inline-block;
		text-align: center;
		line-height: 1;
		cursor: pointer;
		-webkit-appearance: none;
		transition: all 0.25s ease-out;
		vertical-align: middle;
		border: 1px solid #fec946;
		border-radius: 0;
		padding: 1rem 1rem;
		margin: 1rem 0;
		font-size: 1.299rem !important;
		font-weight: 400;
		background: rgba(47, 69, 111, 0.5);
		color: #ffffff;
	}

	.link3 a:visited {
		text-decoration: none !important;
		color: #ffffff !important;
		background: none;
	}

	.link3 a:hover {
		text-decoration: underline;
		color: #ffffff !important;
	}


	.orbit-bullets button {
		width: 1.2rem;
		height: 1.2rem;
		margin: 0.1rem;
		background-color: #021323;
		border-radius: 50%;
	}

	.orbit-bullets button:hover {
		background-color: #294f73;
	}

	.orbit-bullets button.is-active {
		background-color: #294f73;
	}

	@-webkit-keyframes hvr-hang {
		0% {
			-webkit-transform: translateY(8px);
			transform: translateY(8px);
		}

		50% {
			-webkit-transform: translateY(4px);
			transform: translateY(4px);
		}

		100% {
			-webkit-transform: translateY(8px);
			transform: translateY(8px);
		}
	}

	@keyframes hvr-hang {
		0% {
			-webkit-transform: translateY(8px);
			transform: translateY(8px);
		}

		50% {
			-webkit-transform: translateY(4px);
			transform: translateY(4px);
		}

		100% {
			-webkit-transform: translateY(8px);
			transform: translateY(8px);
		}
	}

	@-webkit-keyframes hvr-hang-sink {
		100% {
			-webkit-transform: translateY(8px);
			transform: translateY(8px);
		}
	}

	@keyframes hvr-hang-sink {
		100% {
			-webkit-transform: translateY(8px);
			transform: translateY(8px);
		}
	}

	.hvr-hang {
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-moz-osx-font-smoothing: grayscale;
	}

	.hvr-hang:hover,
	.hvr-hang:focus,
	.hvr-hang:active {
		-webkit-animation-name: hvr-hang-sink, hvr-hang;
		animation-name: hvr-hang-sink, hvr-hang;
		-webkit-animation-duration: .3s, 1.5s;
		animation-duration: .3s, 1.5s;
		-webkit-animation-delay: 0s, .3s;
		animation-delay: 0s, .3s;
		-webkit-animation-timing-function: ease-out, ease-in-out;
		animation-timing-function: ease-out, ease-in-out;
		-webkit-animation-iteration-count: 1, infinite;
		animation-iteration-count: 1, infinite;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		-webkit-animation-direction: normal, alternate;
		animation-direction: normal, alternate;
	}

	.image-wrapper {
		width: 100%;
		height: 100%;
		max-width: 250px;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		text-align: center;
		margin: auto;
	}

	@media only screen and (max-width: 64.063em) {
		.image-wrapper {
			margin-bottom: 2rem;
		}
	}

	.image-overlay-content {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
	}

	.image-overlay-content .button {
		margin-bottom: 1rem;
	}

	@media only screen and (max-width: 64.063em) {
		.image-overlay-content .button {
			display: none;
		}
	}

	.overlay-fade-in p {
		color: #ffffff;
		font-family: 'Lora', serif;
		padding: 1.5rem 1.8rem;
		line-height: 1.2rem;
		font-size: .999rem;
		font-weight: 600;
		text-align: center;
		margin-top: 10%;
		margin-bottom: .2rem;
		opacity: 0;
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
	}

	.overlay-fade-in p span {
		color: #84a0d3;
		font-family: 'Lora', serif;

	}

	.overlay-fade-in img {
		transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		border-radius: 50%;
	}

	.overlay-fade-in .image-overlay-content {
		opacity: 0;
		background-color: rgba(23, 50, 80, 0.8);
		transition: all 0.4s ease-in-out;
		-webkit-transition: all 0.4s ease-in-out;
	}

	@media screen and (min-width: 40em) and (max-width: 63.9375em) {
		.overlay-fade-in .image-overlay-content {
			/*opacity: 1;*/
			background-color: transparent;
		}
	}

	@media screen and (max-width: 39.9375em) {
		.overlay-fade-in .image-overlay-content {
			/*opacity: 1;*/
			background-color: transparent;
		}
	}

	/*.overlay-fade-in h2 {
  color: #f2f2f2;
  font-size: 1.8rem;
  margin-top: 40%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.7); }*/

	.overlay-fade-in .headingH2 {
		color: #ffffff;
		/*text-transform:uppercase; */
		/*text-shadow: 1px 1px 1px rgba(0,0,0,0.25);*/
		font-family: 'Lora', serif;
		/*background-color:rgba(186,135,72, 0.8);*/
		/*text-transform:uppercase;*/
		padding: 0.2rem 0;
		margin: 1rem auto;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 5%;
		/*min-height:5rem;*/
		font-size: 1.199rem !important;
		font-weight: 600;
		text-align: center;
		line-height: 1.5rem;
		/*width: 80%;*/
		/*border-radius: 20px;*/
		/*transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out; */
	}

	/* @media only screen and (max-width: 64.063em) {
.overlay-fade-in .headingH2 {
	font-size:0.799rem !important;
	bottom:5%;
	line-height:0.899rem;
}
}*/
	/*@media screen and (min-width: 40em) and (max-width: 63.9375em) {
.overlay-fade-in .headingH3 {
	top: 0;
	bottom: auto;
}
} */
	/*@media screen and (max-width: 39.9375em) {
.overlay-fade-in .headingH3 {
	margin-top:0%
}
}*/
	/*.overlay-fade-in .button {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #FFF;
  color: #222;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  position: relative;
  border: 1px solid #999;
  opacity: 0;
  transition: all 0.2s ease-in-out; }
  .overlay-fade-in .button:hover {
    box-shadow: 0 0 5px #000; }*/
	/*@media screen and (min-width: 40em) and (max-width: 63.9375em) {
.overlay-fade-in .button {
	margin-top: 20%;
}
}
@media screen and (max-width: 39.9375em) {
.overlay-fade-in .button {
	margin-top: 0%;
}
} */
	.overlay-fade-in:hover img {
		/*transform: scale(1.5);*/
		opacity: 1;
	}

	@media only screen and (max-width: 64.063em) {
		.overlay-fade-in:hover img {
			/*transform: scale(1);*/
			opacity: 1;
		}
	}

	.overlay-fade-in:hover .image-overlay-content {
		opacity: 1;
	}

	.overlay-fade-in p,
	.overlay-fade-in .button {
		opacity: 1;
	}

	.overlay-fade-in:hover .headingH2 {
		opacity: 0;
	}

	@media only screen and (max-width: 64.063em) {
		.overlay-fade-in:hover .headingH2 {
			opacity: 1;
		}
	}

	.overlay-fade-in:hover p {
		transition-delay: 0.1s;
	}

	.overlay-fade-in:hover .button {
		transition-delay: 0.2s;
	}

	/* hr style */

	hr {
		/*max-width: 90%;*/
		border-bottom: 1px solid #b68c32;
		margin: 1.25rem auto;
	}

	/* photo styles */

	.roundPic {
		border-radius: 50%;
		width: 200px !important;
	}
}