/* Examples - Tiny Circleslider */
#circleslider {position:relative; overflow: hidden; }
#circleslider .viewport{ height:333px; position: relative; margin:0 auto; overflow:hidden; width:333px; margin: 185px auto; border-radius:50%;}
#circleslider .overview { background-color: none; position: absolute; list-style: none; margin: 0; padding: 0;  left: 0; top: 0; }
#circleslider .overview li {height:333px; width:333px; margin: 0; float: left; position: relative; }
#circleslider .overview li img {border-radius: 50%;}
#circleslider .thumb { background:rgba(255,255,255,0); border: 3px solid #845151; position: absolute; top: 125px; cursor: pointer; left: 0; margin: 0px; width:110px; z-index: 101; height: 110px; border-radius:50%; }
#circleslider .dot {cursor: pointer; text-indent: -999em; overflow: hidden; height: 100px; width: 100px; position: absolute; z-index: 100; border-radius:50%;}
#circleslider .dot-1 { background:url(../images/pageLayout/Singles_thumb.jpg) no-repeat 0 0;}
#circleslider .dot-2 { background:url(../images/pageLayout/Married_thumb.jpg) no-repeat 0 0;}
#circleslider .dot-3 { background:url(../images/pageLayout/YoungFamily_thumb.jpg) no-repeat 0 0;}
#circleslider .dot-4 { background:url(../images/pageLayout/BlendedFamily_thumb.jpg) no-repeat 0 0; }
#circleslider .dot-5 { background:url(../images/pageLayout/PeakEarning_thumb.jpg) no-repeat 0 0;}
#circleslider .dot-6 { background:url(../images/pageLayout/ApproachingRetirement_thumb.jpg) no-repeat 0 0;}
#circleslider .dot-7 { background:url(../images/pageLayout/SingleAgain_thumb.jpg) no-repeat 0 0;}
#circleslider .dot-8 { background:url(../images/pageLayout/Retirees_thumb.jpg) no-repeat 0 0;}

#circleslider .dot span { cursor: pointer; }